// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');

// Variables
$font-size: .9em;
$font-color:  rgb(204, 151, 128);
$font-color-grey: rgb(175, 175, 175);
$font-color-hover: rgb(241, 177, 149);
$background-color: rgb(25, 25, 25);
$font: 'Montserrat', sans-serif;
$screen-xs: 320px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 965px;
$screen-xl: 1235px;