@import '../../styles/variables.scss';

header {
    width: 100vw;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: $background-color;

    .logoContainer {

        .logo {
            width: 200px;   
        }
    }

    .bars {
        font-size: 2em;
        border: none;
        cursor: pointer;
        background: transparent;
        color: $font-color-grey;

        @media (min-width: #{$screen-lg}) {
            display: none;
        }
    }
}

.slideMobile {
    background-color: $background-color;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: -2000px;
    left: 0px;
    transition: .15 ease-in-out;
    opacity: 0;
    transition-property: opacity;
    z-index: -1;

        @media (min-width: #{$screen-lg}) {
            display: none;
        }
   }

   .slideMobilePosition {
        margin: 0 auto;
        padding: 0px;
        top: 70px;
        left: 0px;
        opacity: 1;
        z-index: 50;
   }

   .mobileContentContainer {
       margin: 0 auto;
       padding: 0px;
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;

   .mobileTextContent {
       margin: 10px 0px;
       font-size: 1.2em;
       color: $font-color-grey;
       font-family: $font;
       letter-spacing: 4px;
       text-transform: uppercase;
       cursor: pointer;
       list-style-type: none;
    }

    ul {

        li {
            @extend .mobileTextContent;
            display: flex;
            justify-content: center;
            margin: 20px 0px 10px 0px;
            padding: 0px;
            font-size: 1em;
            color: rgb(125, 125, 125);

        }

        a {
            text-decoration: none;
        }
    }
    
    
        .commissionMobileBtn {
            margin: 10px 0px;
            font-size: 1.2em;
            font-family: $font;
            color: $font-color-grey;
            letter-spacing: 4px;
            background: none;
            border: none;
            padding: 0;   
    
        }
        
        .commissionMobileBtn:focus {
           outline: 0;
        }
    
        .aboutMobileBtn {
            @extend .commissionMobileBtn;
        }

        .aboutMobileBtn:focus {
            outline: 0;
        }

        .exhibitionsMobileBtn {
            @extend .commissionMobileBtn;
        }

        .exhibitionsMobileBtn:focus {
            outline: 0;
        }


   .horizontalLine{
    width: 95vw;
    border-bottom: 1px solid #999;
    margin: 20px 0px 10px 0px;
  }
}

nav {
// background-color: blue;
// margin: 0px 0px 0px 100px;
// width: 960px;
display: flex;
justify-content: space-between;
align-items: flex-end;
overflow: visible;
position: relative;
z-index: 100;

@media (max-width: #{$screen-lg}) {
display: none;
}
ul {
padding-top: 25px;
display: flex;
justify-content: flex-end;
align-items: flex-end;


    @media (max-width: #{$screen-xl}) {
        justify-content: flex-start;
        align-items: flex-start;
        font-size: .82em;
    }


.paintingBtn {
    font-size: 1em;
    font-family: $font;
    color: $font-color-grey;
    background: none;
    border: none;
    padding: 0;
}

.paintingBtn:hover {
    color: $font-color-hover;
    transition: .25s ease-in-out;
    cursor: pointer;
}
.paintingBtn:focus {
    outline: 0;
}

.slidePainting {
    margin: 20px 0px 0px 28px;
    width: 20%;
    // height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    transition: .15 ease-in-out;
    opacity: 0;
    transition-property: opacity;
    z-index: -1;
    background-color: $background-color;

@media (max-width: #{$screen-lg}) {
    display: none;
}

li {
    margin: 10px 5px 10px 0px;
    font-size: 1em;
    cursor: pointer;

}
a {
    text-decoration: none;
}
}

.slidePaintingPosition {
top: 45px;
left: -10px;
opacity: 1;
z-index: 50;
}


.worksBtn {
    margin-left: 25px;
    font-size: 1em;
    font-family: $font;
    color: $font-color-grey;
    background: none;
    border: none;
    padding: 0;

    @media (max-width: #{$screen-xl}) {
       margin-left: 10px;;
    }
    
}

.worksBtn:hover {
    color: $font-color-hover;
    transition: .25s ease-in-out;
    cursor: pointer;
}
.worksBtn:focus {
    outline: 0;
}

.slideWorks {
    margin: 20px 0px 0px 45px;
    background-color: $background-color;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: -250px;
    left: 118px;
    transition: .15 ease-in-out;
    opacity: 0;
    transition-property: opacity;
    z-index: -1;

    @media (max-width: #{$screen-lg}) {
        display: none;
    }

    @media (max-width: ($screen-xl)) {
        width: 100px; 
    }

    li {
        margin: 10px 5px 10px 0px;
        font-size: 1em;
        cursor: pointer;
    }
    a {
        text-decoration: none;
    }
   }

   .slideWorksPosition {
        top: 45px;
        left: 95px;
        opacity: 1;
        z-index: 50;

        @media (max-width: ($screen-xl)) {
            left: 75px;
        }
   }

    .galleryBtn {
        margin-left: 25px;
        font-size: 1em;
        font-family: $font;
        color: $font-color-grey;
        background: none;
        border: none;
        padding: 0;

        @media (max-width: #{$screen-xl}) {
            margin-left: 10px;;
         }
    }

    .galleryBtn:hover {
        color: $font-color-hover;
        transition: .25s ease-in-out;
        cursor: pointer;
    }
    .galleryBtn:focus {
        outline: 0;
    }

    .slideGallery {
        margin: 20px 0px 0px 40px;
        background-color: $background-color;
        width: 200px;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: -250px;
        left: 210px;
        transition: .15 ease-in-out;
        opacity: 0;
        transition-property: opacity;
        z-index: -1;

        @media (max-width: #{$screen-lg}) {
            display: none;
        }

        @media (max-width: ($screen-xl)) {
            width: 150px; 
        }

        li {
            margin: 10px 5px 10px 0px;
            font-size: 1em;
            cursor: pointer;
        }
        a {
            text-decoration: none;
        }
    }

    .slideGalleryPosition {
        top: 45px;
        left: 210px;
        opacity: 1;
        z-index: 50;

        @media (max-width: ($screen-xl)) {
            left: 165px;
        }
    }

    .commissionBtn {
        margin-left: 25px;
        font-size: 1em;
        font-family: $font;
        color: $font-color-grey;
        background: none;
        border: none;
        padding: 0;   

        @media (max-width: #{$screen-xl}) {
            margin-left: 10px;;
         }
    }
    .commissionBtn:hover {
        color: $font-color-hover;
        transition: .25s ease-in-out;
        cursor: pointer;
    }
    .commissionBtn:focus {
        outline: 0;
    }

li {
    font-size: $font-size;
    font-family: $font;
    margin-left: 25px;
    color: $font-color-grey;
    list-style: none;

    @media (max-width: #{$screen-xl}) {
        margin-left: 10px;;
     }
}
li:hover {
    color: $font-color-hover;
    transition: .25s ease-in-out;
}

.aboutBtn {
    font-size: 1.1em;
    font-family: $font;
    color: $font-color-grey;
    background: none;
    border: none;
    padding: 0;
}
.aboutBtn:hover {
    color: $font-color-hover;
    transition: .25s ease-in-out;
    cursor: pointer;
}
.aboutBtn:focus {
    outline: 0;
}

.exhibitionsBtn {
    font-size: 1.1em;
    font-family: $font;
    color: $font-color-grey;
    background: none;
    border: none;
    padding: 0;
    
}
.exhibitionsBtn:hover {
    color: $font-color-hover;
    transition: .25s ease-in-out;
    cursor: pointer;
}
.exhibitionsBtn:focus {
    outline: 0;
}
}
}
.slideAbout {
background-color: $background-color;
width: 100%;
height: 930px;
display: flex;
justify-content: flex-start;
align-items: center;
position: absolute;
top: -1000px;
transition: .25s ease-in-out;
opacity: 0;
transition-property: opacity;
z-index: -1;

@media (max-width: #{$screen-lg}) {
display: none;
}
}

.slideAboutPosition {
top: 100px;
right: 0px;
opacity: 1;
z-index: 595;
}
.aboutContainer {
width: 85%;
height: 100%;
margin-left: 150px;
padding: 0px 40px;
display: flex;
justify-content: space-between;
align-items: flex-start;
// background-color: yellow;

@media (max-width: #{$screen-lg}) {
display: none;
}

@media (max-width: 1290px) {
width: 100%;
margin-left: 25px;
overflow: auto;
}

.photoContactContainer {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

.sunnyPortrait {
    width: 350px;
    border-radius: 40px;
}

.emailContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;


    h3 {
        margin-top: 10px;
        font-family: $font;
        line-height: 16px;
        letter-spacing: 1px;
        font-size: 1em;
        color: rgb(100, 100, 100);
    }

    .email {
        margin-top: 10px;
        padding-left: 5px;
        color: $font-color-grey;
        font-size: 1em;
        font-family: $font;
    } 

    .email:hover {
        color: $font-color-hover;
        transition: .25s ease-in-out;
        cursor: pointer;
    }
}

}
.educationContainer {
width: 100%;
padding-left: 25px;


h3 {
    // margin: 10px;
    font-family: $font;
    line-height: 16px;
    letter-spacing: 1px;
    font-size: 1em;
    color: rgb(100, 100, 100);
    text-transform: uppercase;
}

h4 {
    @extend h3;
    margin: 10px;
    font-size: .8em;
    color: $font-color-grey;
    line-height: 24px;
}
}
    .xBtnAbout {
        font-size: 2em;
        border: none;
        cursor: pointer;
        background: transparent;
        color: $font-color-grey;
    }

    .xBtnAbout:hover {
        color: $font-color-hover;
        transition: .25s ease-in-out;
        cursor: pointer;
    }

    .xBtnAbout:focus {
        outline: 0;
    }
}
.slideExhibitions {
    background-color: $background-color;
    width: 100%;
    height: 930px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: -1000px;
    transition: .25s ease-in-out;
    opacity: 0;
    transition-property: opacity;
    z-index: -1;
    overflow: auto;
}
        
.slideExhibitionsPosition {
    top: 100px;
    right: 0px;
    opacity: 1;
    z-index: 500;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;  
}

.exhibitionContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0px 90px;

    @media (max-width: 1550px) {
        margin: 0px 25px;
    }
    @media (max-width: ($screen-xl)) {
        margin: 0px 0px;
    }



.exhibitionHistory {
    width: 50%;
    height: 100%;
    margin-left: 75px;
    padding: 0px 28px;

    @media (max-width: ($screen-xl)) {
        margin: 0px 25px;
    }

      h3 {
    // margin: 10px;
    font-family: $font;
    line-height: 16px;
    letter-spacing: 1px;
    font-size: 1em;
    color: rgb(100, 100, 100);
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
li {
    @extend h3;
    margin: 10px;
    font-size: .8em;
    color: $font-color-grey;
    line-height: 24px;
}


}
.awardsContainer {
width: 50%;
padding-left: 50px;

h3 {
// margin: 10px;
font-family: $font;
line-height: 16px;
letter-spacing: 1px;
font-size: 1em;
color: rgb(100, 100, 100);
text-transform: uppercase;
display: flex;
justify-content: space-between;
align-items: flex-start;
}
h4 {
@extend h3;
margin: 10px;
font-size: .8em;
color: $font-color-grey;
line-height: 24px;
}
}
.xBtnExhibitionContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.xBtnExhibitions {
font-size: 2em;
border: none;
cursor: pointer;
background: transparent;
color: $font-color-grey;
}

.xBtnExhibitions:hover {
color: $font-color-hover;
transition: .25s ease-in-out;
cursor: pointer;
}

.xBtnExhibitions:focus {
outline: 0;
}   

// Readjust spacing on Navbar between desktop and switching ot Mobile View
button {
@media (max-width: #{$screen-xl}) {
    margin: 0px 5px 0px 5px;
}
}
}
